@import  "../partials/colors";

label {
    padding: 15px 0 15px 0;
}

.button-blue {
    margin-top: 60px;
}

/* Remove the arrows in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Remove the arrows in Chrome, Safari, Edge, and Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buttons-finish {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 1000px) {
    section {
        position: absolute;
        top: 1rem;

        .button-blue, .button-green,.button-red {
            font-size: 24px;
            width: 25rem;
        }

        .buttons-finish {
            flex-direction: row;
            justify-content: space-between;
            gap: 5%;

            .button-green,.button-red {
                width:16rem;
                height: auto;
            }
        }
    }
}