header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 35px 0 35px 0;
}
.buttons-header {
    width: 85%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}